NameVirtualHost *:80

<VirtualHost *:80>
    ServerName web-01.mynet-872.com
    ServerAlias www.mynet-872.com
    DocumentRoot /var/nfs/www/mynet-872.com/html
    <Directory /var/nfs/www/mynet-872.com/html>
        Options -Indexes +FollowSymLinks +MultiViews
        AllowOverride All
        Require all granted
    </Directory>
    ErrorLog /var/nfs/www/mynet-872.com/log/error.log
    CustomLog /var/nfs/www/mynet-872.com/log/requests.log combined
</VirtualHost>